Django==1.11.11
six<1.11.0

# GeoNode
-e git://github.com/GeoNode/geonode.git@master#egg=geonode
celery>4.0a0c,<=4.1.0
django-celery-monitor<=1.1.2
django-celery-beat==1.1.1
django-celery-results==1.0.1

# geopython dependencies
pyproj>=1.9.5,<=1.9.5.1
OWSLib==0.16.0
pycsw==2.2.0
SQLAlchemy==1.1.14
Shapely==1.5.17

#production
uWSGI==2.0.17
gunicorn==19.7.1
#debug
ipython==5.5.0
docker==3.1.1
invoke==0.22.1

# tests
coverage<=4.5.1
factory-boy<=2.9.2
Faker<=0.8.4
more-itertools==4.1.0
parse==1.8.2
parse-type==0.4.1
poster~=0.8.1
py==1.5.3
pytest==3.5.0
pytest-bdd==2.20.0
pytest-splinter==1.8.5
pytest-django==3.1.2
setuptools==39.0.1
Twisted
