# Specify known versions for predictable builds.
# setup.py has general requirements (bigger than, less than or no specific version)
# This file contains either commit hashes or ==.
# Preferred option: packages released on pypi.
# B option: Editable package from a github repo with commit hash.
git+git://github.com/piensa/geonode.git@docker#egg=geonode
dj-database-url==0.4.1

# Specific versions for GeoNode deployment (geonode's own setup.py does not specify versions)
# The commented name next to the package
# is the Ubuntu 14.04 package that provides it.
